In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_excel("sp500.xlsx")

In [5]:
df.set_index("Date", inplace=True)

In [6]:
df.sort_index(inplace=True)

In [7]:
df.fillna(method="ffill", inplace=True)

In [8]:
dailyret = df.pct_change()

In [22]:
dailyret.iloc[-5:, :]

,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WHR,WMB,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-05-01,-0.003483,0.027090,0.005793,0.017139,-0.003104,-0.003603,-0.003586,-0.009032,-0.000478,0.003581,...,0.001433,0.003305,0.011551,0.003719,0.006356,0.011737,-0.002014,0.002817,-0.037330,0.021504
2023-05-02,-0.027114,-0.005133,0.003510,-0.013597,-0.009591,-0.018468,-0.029306,-0.014673,-0.010760,0.002453,...,-0.005651,-0.034914,-0.020761,-0.015249,0.000191,0.004711,-0.111359,0.030109,-0.108128,-0.014814
2023-05-03,-0.001457,-0.004586,0.002332,-0.015631,-0.005637,-0.010132,-0.006621,-0.063500,-0.002578,-0.092203,...,0.015468,-0.011604,-0.034187,-0.008683,-0.003540,-0.039118,0.011979,-0.023705,-0.052676,0.004692
2023-05-04,-0.009628,-0.003887,-0.008053,-0.012663,-0.031543,-0.008507,-0.010664,-0.027285,-0.028756,0.061137,...,-0.038257,0.004834,-0.000732,0.008905,0.020931,-0.007210,0.025145,-0.021415,-0.120477,0.004164
2023-05-05,0.014827,0.017199,0.003608,0.004547,-0.003190,0.018903,0.023444,0.037430,0.029358,0.037294,...,0.009355,0.037113,0.014005,0.006656,0.024828,0.008583,0.033208,0.009368,0.192173,0.043481

In [10]:
positionsTable = np.zeros(df.shape)

In [11]:
end_index = df.shape[0]

In [39]:
for t in np.arange(1, 3):
    row: pd.Series = dailyret.iloc[t, ]
    worst5 = row.nsmallest(5)

In [ ]:
# todo we'll continue this conversation when I'm smarter