In [1]:
from urllib.error import HTTPError

import pandas as pd

In [2]:
url_fmt = "https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1651881600&period2=1683417600&interval=1d&events=history&includeAdjustedClose=true"

In [3]:
sp500_symbols = pd.read_table("sp500.txt", header=None)

In [4]:
df = pd.DataFrame()

In [5]:
mmm = pd.read_csv(url_fmt.format("MMM"))

In [6]:
mmm

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-05-09,148.440002,153.770004,147.940002,152.380005,145.666168,4163100
1,2022-05-10,154.000000,154.039993,148.139999,149.119995,142.549789,3503200
2,2022-05-11,149.990005,150.130005,146.169998,146.410004,139.959213,2748000
3,2022-05-12,146.589996,149.619995,146.009995,149.589996,142.999100,2819000
4,2022-05-13,150.210007,150.350006,147.970001,149.300003,142.721863,2753300
...,...,...,...,...,...,...,...
245,2023-05-01,106.339996,106.830002,105.559998,105.849998,105.849998,2289300
246,2023-05-02,105.510002,105.699997,102.660004,102.980003,102.980003,3012000
247,2023-05-03,103.500000,104.599998,102.669998,102.830002,102.830002,2056100
248,2023-05-04,102.550003,102.980003,100.760002,101.839996,101.839996,2963200
249,2023-05-05,102.800003,103.480003,102.050003,103.349998,103.349998,1943100

In [7]:
mmm.loc[:, ['Date', 'Adj Close']]

           Date   Adj Close
0    2022-05-09  145.666168
1    2022-05-10  142.549789
2    2022-05-11  139.959213
3    2022-05-12  142.999100
4    2022-05-13  142.721863
..          ...         ...
245  2023-05-01  105.849998
246  2023-05-02  102.980003
247  2023-05-03  102.830002
248  2023-05-04  101.839996
249  2023-05-05  103.349998

[250 rows x 2 columns]

In [8]:
tsla = pd.read_csv(url_fmt.format("TSLA"))

In [9]:
mmm: pd.DataFrame=mmm.loc[:, ['Date', 'Adj Close']]

In [10]:
mmm.rename(columns={'Adj Close': 'MMM'}, inplace=True)

In [11]:
mmm

           Date         MMM
0    2022-05-09  145.666168
1    2022-05-10  142.549789
2    2022-05-11  139.959213
3    2022-05-12  142.999100
4    2022-05-13  142.721863
..          ...         ...
245  2023-05-01  105.849998
246  2023-05-02  102.980003
247  2023-05-03  102.830002
248  2023-05-04  101.839996
249  2023-05-05  103.349998

[250 rows x 2 columns]

In [12]:
tsla: pd.DataFrame=tsla.loc[:, ['Date', 'Adj Close']]

In [13]:
tsla.rename(columns={'Adj Close': 'TSLA'}, inplace=True)

In [14]:
df=pd.merge(mmm, tsla, on='Date')

In [15]:
df

           Date         MMM        TSLA
0    2022-05-09  145.666168  262.369995
1    2022-05-10  142.549789  266.679993
2    2022-05-11  139.959213  244.666672
3    2022-05-12  142.999100  242.666672
4    2022-05-13  142.721863  256.529999
..          ...         ...         ...
245  2023-05-01  105.849998  161.830002
246  2023-05-02  102.980003  160.309998
247  2023-05-03  102.830002  160.610001
248  2023-05-04  101.839996  161.199997
249  2023-05-05  103.349998  170.059998

[250 rows x 3 columns]

In [16]:
df=None

In [17]:
for symbol in sp500_symbols[0]:
    try:
        price_data = pd.read_csv(url_fmt.format(symbol))
    except HTTPError:
        print("{}: download failed".format(symbol))
        continue
    price_data: pd.DataFrame = price_data.loc[:, ['Date', 'Adj Close']]
    price_data.rename(columns={'Adj Close': symbol}, inplace=True)
    if df is None:
        df = price_data
    else:
        df = pd.merge(df, price_data, on='Date')

ACE: download failed
AET: download failed
GAS: download failed
ARG: download failed
ALXN: download failed
AGN: download failed
ANR: download failed
APC: download failed
APOL: download failed
AVP: download failed
BHI: download failed
BLL: download failed
BCR: download failed
BBT: download failed
BMS: download failed
BRK.B: download failed
BMC: download failed
BRCM: download failed
BF.B: download failed
CA: download failed
CVC: download failed
COG: download failed
CAM: download failed
CFN: download failed
CBG: download failed
CBS: download failed
CELG: download failed
CTL: download failed
CERN: download failed
CTXS: download failed
COH: download failed
CCE: download failed
CSC: download failed
CBE: download failed
CVH: download failed
COV: download failed
DF: download failed
DNR: download failed
DTV: download failed
DISCA: download failed
RRD: download failed
DPS: download failed
ETFC: download failed
EMC: download failed
ESV: download failed
ESRX: download failed
FDO: download failed
FII: download failed
FLIR: download failed
FRX: download failed
FTR: download failed
HAR: download failed
HRS: download failed
HCN: download failed
HNZ: download failed
HSP: download failed
HCBK: download failed
TEG: download failed
JEC: download failed
JDSU: download failed
JOY: download failed
KFT: download failed
LLL: download failed
LM: download failed
LUK: download failed
LXK: download failed
LTD: download failed
LLTC: download failed
LO: download failed
MHP: download failed
MJN: download failed
MWV: download failed
PCS: download failed
MOLX: download failed
MON: download failed
MYL: download failed
NFX: download failed
NBL: download failed
NYX: download failed
JCP: download failed
PBCT: download failed
POM: download failed
PCL: download failed
PCP: download failed
PCLN: download failed
QEP: download failed
RTN: download failed
RHT: download failed
RAI: download failed
COL: download failed
RDC: download failed
SWY: download failed
SNDK: download failed
SCG: download failed
SNI: download failed
SHLD: download failed
SIAL: download failed
STJ: download failed
SPLS: download failed
HOT: download failed
STI: download failed
SYMC: download failed
TE: download failed
TSO: download failed
TIF: download failed
TWX: download failed
TWC: download failed
TIE: download failed
TMK: download failed
TSS: download failed
TYC: download failed
UTX: download failed
VAR: download failed
VIAB: download failed
WAG: download failed
WPO: download failed
WPI: download failed
WLP: download failed
WFM: download failed
WIN: download failed
WPX: download failed
WYN: download failed
XLNX: download failed
XL: download failed
YHOO: download failed
ZMH: download failed

In [18]:
df

,Date,MMM,ABT,ANF,ACN,ADBE,AMD,AES,AFL,A,...,WY,WHR,WMB,WEC,WYNN,XEL,XRX,XYL,YUM,ZION
0,2022-05-09,145.666168,105.406281,34.060001,282.929840,376.910004,86.360001,19.535986,56.118320,112.364029,...,37.376453,184.754425,32.979385,98.866417,61.330002,71.579239,16.109816,83.907188,108.027878,53.538116
1,2022-05-10,142.549789,104.778099,33.000000,283.028290,393.029999,88.730003,19.438597,55.903828,115.870750,...,36.899960,180.215363,32.447765,97.625008,61.650002,71.423737,16.212605,81.586853,108.655830,52.305454
2,2022-05-11,139.959213,103.884903,31.219999,276.483734,379.329987,87.919998,19.438597,55.455353,113.238235,...,36.013672,168.690903,32.713570,98.682144,58.849998,71.890244,15.745383,79.868820,106.850464,51.878399
3,2022-05-12,142.999100,105.975555,32.090000,276.749451,388.489990,87.059998,18.941921,54.704632,115.364113,...,36.423458,174.357590,32.865463,98.484810,58.560001,71.482063,15.679973,81.744835,108.430161,51.907513
4,2022-05-13,142.721878,107.850273,32.520000,282.221283,405.450012,95.120003,19.711285,54.870373,118.592682,...,36.890427,174.835373,33.026852,99.725395,66.269997,72.395615,16.137850,82.850700,110.706505,51.985161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2023-05-01,105.849998,111.110001,23.299999,279.420013,374.149994,89.690002,23.160000,70.360001,136.080002,...,29.750000,139.789993,30.360001,95.940002,115.599998,70.169998,15.390000,104.500000,142.229996,26.820000
246,2023-05-02,102.980003,111.500000,23.059999,276.739990,368.660004,89.910004,22.600000,68.639999,134.520004,...,29.059999,139.000000,29.299999,95.250000,113.199997,69.099998,15.210000,104.519997,142.899994,23.920000
247,2023-05-03,102.830002,111.760002,22.770000,275.179993,345.250000,81.620003,22.450001,67.360001,134.770004,...,29.280001,141.149994,28.959999,94.279999,109.330002,68.500000,14.760000,104.150002,137.309998,22.660000
248,2023-05-04,101.839996,110.860001,21.830000,266.500000,335.829987,86.610001,22.480000,66.820000,133.880005,...,29.010000,135.750000,29.100000,95.349998,109.250000,69.110001,13.840000,106.330002,136.320007,19.930000
249,2023-05-05,103.349998,111.260002,22.719999,265.649994,348.399994,89.839996,22.670000,67.589996,133.300003,...,29.670000,137.020004,30.180000,96.010002,110.779999,69.570000,14.160000,108.970001,137.490005,23.760000

In [19]:
df.to_excel("sp500.xlsx")