In [26]:
from urllib.error import HTTPError

import pandas as pd

In [27]:
url_fmt = "https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1651881600&period2=1683504000&interval=1d&events=history&includeAdjustedClose=true"

In [28]:
sp500_symbols = pd.read_csv("https://datahub.io/core/s-and-p-500-companies/r/constituents.csv")

In [29]:
sp500_symbols

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [30]:
df=None

In [31]:
for symbol in sp500_symbols["Symbol"]:
    try:
        price_data = pd.read_csv(url_fmt.format(symbol))
    except HTTPError:
        print("{}: download failed".format(symbol))
        continue
    rows, _ = price_data.shape
    if rows < 250:
        print("skipping {}; not enough rows".format(symbol))
        continue
    price_data: pd.DataFrame = price_data.loc[:, ['Date', 'Adj Close']]
    price_data.rename(columns={'Adj Close': symbol}, inplace=True)
    if df is None:
        df = price_data
    else:
        df = pd.merge(df, price_data, on='Date')

skipping ABMD; not enough rows
ANTM: download failed
BLL: download failed
BRK.B: download failed
BF.B: download failed
CERN: download failed
CTXS: download failed
DISCA: download failed
DISCK: download failed
DRE: download failed
FB: download failed
skipping FRC; not enough rows
FBHS: download failed
INFO: download failed
KSU: download failed
NLSN: download failed
NLOK: download failed
PBCT: download failed
TWTR: download failed
VIAC: download failed
WLTW: download failed
XLNX: download failed

In [32]:
df

,Date,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,AAP,...,WHR,WMB,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,2022-05-09,145.666168,58.613708,105.406273,145.323486,282.929871,77.169998,82.775253,376.910004,194.586380,...,184.754425,32.979385,61.330002,71.579247,83.907188,108.027878,328.540009,114.050140,53.538116,160.448715
1,2022-05-10,142.549789,57.800037,104.778099,146.411270,283.028229,76.919998,83.373787,393.029999,194.836044,...,180.215363,32.447765,61.650002,71.423737,81.586845,108.655823,325.839996,113.227005,52.305454,161.281647
2,2022-05-11,139.959213,56.241318,103.884903,146.286148,276.483734,77.470001,82.775253,379.329987,193.078796,...,168.690903,32.713573,58.849998,71.890251,79.868828,106.850456,314.500000,112.483200,51.878391,158.554794
3,2022-05-12,142.999100,57.898075,105.975555,148.529129,276.749451,77.379997,82.853745,388.489990,200.597580,...,174.357590,32.865463,58.560001,71.482056,81.744835,108.430161,316.720001,112.165840,51.907513,161.708038
4,2022-05-13,142.721878,58.829384,107.850281,147.768646,282.221283,77.739998,83.785904,405.450012,202.815781,...,174.835388,33.026848,66.269997,72.395622,82.850700,110.706497,336.859985,114.119576,51.985161,163.939117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2023-05-01,105.849998,70.139999,111.110001,153.710007,279.420013,77.430000,77.800003,374.149994,125.470001,...,139.789993,30.360001,115.599998,70.169998,104.500000,142.229996,287.450012,138.830002,26.820000,179.559998
246,2023-05-02,102.980003,69.779999,111.500000,151.619995,276.739990,76.000000,75.519997,368.660004,124.120003,...,139.000000,29.299999,113.199997,69.099998,104.519997,142.899994,255.440002,143.009995,23.920000,176.899994
247,2023-05-03,102.830002,69.459999,111.760002,149.250000,275.179993,75.230003,75.019997,345.250000,123.800003,...,141.149994,28.959999,109.330002,68.500000,104.150002,137.309998,258.500000,139.619995,22.660000,177.729996
248,2023-05-04,101.839996,69.190002,110.860001,147.360001,266.500000,74.589996,74.220001,335.829987,120.239998,...,135.750000,29.100000,109.250000,69.110001,106.330002,136.320007,265.000000,136.630005,19.930000,178.470001
249,2023-05-05,103.349998,70.379997,111.260002,148.029999,265.649994,76.000000,75.959999,348.399994,123.769997,...,137.020004,30.180000,110.779999,69.570000,108.970001,137.490005,273.799988,137.910004,23.760000,186.229996

In [33]:
df.to_excel("sp500.xlsx")