In [36]:
from urllib.error import HTTPError

import pandas as pd

In [37]:
url_fmt = "https://query1.finance.yahoo.com/v7/finance/download/{}?period1=1651881600&period2=1683504000&interval=1d&events=history&includeAdjustedClose=true"

In [38]:
sp500_symbols = pd.read_csv("https://datahub.io/core/s-and-p-500-companies/r/constituents.csv")

In [39]:
sp500_symbols

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [40]:
df=None

In [41]:
for symbol in sp500_symbols["Symbol"]:
    try:
        price_data = pd.read_csv(url_fmt.format(symbol))
    except HTTPError:
        print("{}: download failed".format(symbol))
        continue
    rows, _ = price_data.shape
    if rows < 250:
        print("skipping {}; not enough rows".format(symbol))
        continue
    price_data: pd.DataFrame = price_data.loc[:, ['Date', 'Adj Close']]
    price_data.rename(columns={'Adj Close': symbol}, inplace=True)
    if df is None:
        df = price_data
    else:
        df = pd.merge(df, price_data, on='Date')

skipping ABMD; not enough rows
ANTM: download failed
BLL: download failed
BRK.B: download failed
BF.B: download failed
CERN: download failed
CTXS: download failed
DISCA: download failed
DISCK: download failed
DRE: download failed
FB: download failed
skipping FRC; not enough rows
FBHS: download failed
INFO: download failed
KSU: download failed
NLSN: download failed
NLOK: download failed
PBCT: download failed
TWTR: download failed
VIAC: download failed
WLTW: download failed
XLNX: download failed

In [42]:
df.set_index("Date", inplace=True)

In [43]:
df

,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WHR,WMB,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-05-09,145.666168,58.613712,105.406273,145.323471,282.929810,77.169998,82.775253,376.910004,194.586380,86.360001,...,184.754410,32.979389,61.330002,71.579247,83.907188,108.027878,328.540009,114.050148,53.538116,160.448730
2022-05-10,142.549789,57.800041,104.778091,146.411270,283.028290,76.919998,83.373795,393.029999,194.836044,88.730003,...,180.215363,32.447765,61.650002,71.423737,81.586853,108.655823,325.839996,113.226997,52.305454,161.281647
2022-05-11,139.959213,56.241322,103.884895,146.286148,276.483795,77.470001,82.775253,379.329987,193.078796,87.919998,...,168.690903,32.713573,58.849998,71.890251,79.868813,106.850464,314.500000,112.483192,51.878399,158.554779
2022-05-12,142.999115,57.898071,105.975563,148.529129,276.749481,77.379997,82.853745,388.489990,200.597580,87.059998,...,174.357590,32.865463,58.560001,71.482063,81.744835,108.430168,316.720001,112.165848,51.907509,161.708038
2022-05-13,142.721878,58.829384,107.850281,147.768616,282.221252,77.739998,83.785896,405.450012,202.815781,95.120003,...,174.835373,33.026852,66.269997,72.395630,82.850693,110.706497,336.859985,114.119568,51.985157,163.939117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-01,105.849998,70.139999,111.110001,153.710007,279.420013,77.430000,77.800003,374.149994,125.470001,89.690002,...,139.789993,30.360001,115.599998,70.169998,104.500000,142.229996,287.450012,138.830002,26.820000,179.559998
2023-05-02,102.980003,69.779999,111.500000,151.619995,276.739990,76.000000,75.519997,368.660004,124.120003,89.910004,...,139.000000,29.299999,113.199997,69.099998,104.519997,142.899994,255.440002,143.009995,23.920000,176.899994
2023-05-03,102.830002,69.459999,111.760002,149.250000,275.179993,75.230003,75.019997,345.250000,123.800003,81.620003,...,141.149994,28.959999,109.330002,68.500000,104.150002,137.309998,258.500000,139.619995,22.660000,177.729996
2023-05-04,101.839996,69.190002,110.860001,147.360001,266.500000,74.589996,74.220001,335.829987,120.239998,86.610001,...,135.750000,29.100000,109.250000,69.110001,106.330002,136.320007,265.000000,136.630005,19.930000,178.470001
2023-05-05,103.349998,70.379997,111.260002,148.029999,265.649994,76.000000,75.959999,348.399994,123.769997,89.839996,...,137.020004,30.180000,110.779999,69.570000,108.970001,137.490005,273.799988,137.910004,23.760000,186.229996

In [44]:
df.to_excel("sp500.xlsx")